<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="backdrop" [ngStyle]="{ display: displayStyle }"></div>
    <button class="btn-primary" (click)="onOpen()">Add Member</button>
    <div class="modal" [ngStyle]="{ display: displayStyle }">
      <div class="login-box alert-box">
        <div class="form-top">
          <h2>Fill the Details</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ionicon"
            viewBox="0 0 512 512"
            (click)="onClose()"
          >
            <title>Close</title>
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M368 368L144 144M368 144L144 368"
            />
          </svg>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!-- <div ngModelGroup="userData"></div> -->

          <div class="user-box form-group">
            <input
              type="text"
              id="Name"
              class="form-control Name"
              formControlName="Name"
            />
            <label>Name</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('Name')?.valid && signupForm.get('Name')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter a Name!
          </div>
          <br />
          <div class="user-box form-group">
            <input
              type="text"
              id="Email"
              class="form-control Email"
              formControlName="Email"
            />
            <label>Email</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('Email')?.valid &&
              signupForm.get('Email')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter a valid Email!
          </div>
          <br />
          <div class="user-box form-group">
            <input
              type="number"
              id="Mobile"
              class="form-control Mobile"
              formControlName="Mobile"
            />
            <label>Mobile No</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('Mobile')?.valid &&
              signupForm.get('Mobile')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter your 10-digit Mobile Number!
          </div>
          <br />
          <div class="user-box">
            <input
              type="date"
              id="Date"
              class="form-control Date"
              formControlName="Date"
            />
            <label>BirthDate</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('Date')?.valid && signupForm.get('Date')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter a Birthdate!
          </div>
          <br />
          <div class="user-box form-group">
            <input
              type="text"
              id="City"
              class="form-control City"
              formControlName="City"
            />
            <label>City</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('City')?.valid && signupForm.get('City')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter your city!
          </div>
          <br />
          <div class="user-box form-group">
            <input
              type="text"
              id="State"
              class="form-control State"
              formControlName="State"
            />
            <label>State</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('State')?.valid &&
              signupForm.get('State')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter your State!
          </div>
          <br />
          <div class="user-box form-group">
            <input
              type="text"
              id="Country"
              class="form-control Country"
              formControlName="Country"
            />
            <label>Country</label>
          </div>
          <div
            *ngIf="
              !signupForm.get('Country')?.valid &&
              signupForm.get('Country')?.touched
            "
            class="invalid-feedback span"
          >
            Please enter your Country!
          </div>
          <br />
          <!-- <div class="user-box form-group">
            <span class="radio">
              <span>Male</span>
              <input type="radio" value="Male" formControlName="Gender" />
            </span>
            <span class="radio">
              <span>Female</span>
              <input type="radio" value="Female" formControlName="Gender" />
            </span>
            <span class="radio">
              <span>Other</span>
              <input type="radio" value="Other" formControlName="Gender" />
            </span>
          </div>
          <div
            *ngIf="
              !signupForm.get('Gender')?.valid &&
              signupForm.get('Gender')?.touched
            "
            class="invalid-feedback span"
          >
            Please select your Gender!
          </div> -->
          <br />
          <div class="center">
            <button
              type="submit"
              class="btn"
              [disabled]="!signupForm.valid"
              (click)="onClick()"
            >
              Add Member
            </button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <h1 class="h1">Members List</h1>

      <table class="table">
        <thead>
          <tr>
            <th class="tableHead">Name</th>
            <th class="tableHead">Email</th>
            <th class="tableHead">Mobile</th>
            <th class="tableHead">BirthDate</th>
            <th class="tableHead">City</th>
            <th class="tableHead">State</th>
            <th class="tableHead">Country</th>
          </tr>
        </thead>
        <div class="noProject" *ngIf="formDataMembers.length === 0">
          <p>You have not added any Member details!!</p>
          <p>Add a new member details by clicking on the Add Member button</p>
        </div>
        <tbody>
          <tr *ngFor="let user of formDataMembers" (click)="onRowClick(user)">
            <td class="tableData">{{ user.Name }}</td>
            <td class="tableData">{{ user.Email }}</td>
            <td class="tableData">{{ user.Mobile }}</td>
            <td class="tableData">{{ user.Date }}</td>
            <td class="tableData">{{ user.City }}</td>
            <td class="tableData">{{ user.State }}</td>
            <td class="tableData">{{ user.Country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="backdrop" [ngStyle]="{ display: displayStyle1 }"></div>
    <div class="data-box" [ngStyle]="{ display: displayStyle1 }">
      <h2>Member Details</h2>
      <p>Name: {{ details.name }}</p>
      <p>Email: {{ details.email }}</p>
      <p>Mobile: {{ details.mobile }}</p>
      <p>BirthDate: {{ details.date }}</p>
      <p>City: {{ details.city }}</p>
      <p>State: {{ details.state }}</p>
      <p>Country: {{ details.country }}</p>
      <div class="data-box-actions">
        <button class="btn" (click)="onDataClose()">Close</button>
        <button class="btn" (click)="onDelete(details)">Delete Member</button>
      </div>
    </div>
  </body>
</html>
